<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="board" class="com.ohgiraffers.chap01.common.BoardDTO">
        <constructor-arg name="id" value="1" />
        <constructor-arg name="title" value="제목입니당" />
        <constructor-arg name="content"><value>내용입니다.</value></constructor-arg>
        <constructor-arg name="writer"><value>김내용</value></constructor-arg>
    </bean>
</beans>